.day_container {
    
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 1px;
    width: 100px;

}

.time-slot {

    padding: 20px;
    border: 1px solid #000000;
    background-color: #eb9aff;
    text-align: center;
    cursor: pointer;
    font-size: 15px;

}

.time-slot.selected {

    padding: 20px;
    border: 1px solid #000000;
    background-color: #36074a;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 15px;

}


