.Day {
    
    /*place-self: center;*/
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 400px;

}

.time {

    text-align: left;

}

.horizontal-line {
    width: 100%; /* Full width of the container */
    height: 2px; /* Line thickness */
    background-color: #000; /* Line color */
    margin: 20px 0; /* Space above and below the line */
}


