.update_button{

    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #6ccf70;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-color: white;
    border-radius: 10px;

}

.update_button:hover{

    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #58b85e;
    color: white;
    border-color: white;
    border-radius: 10px;

}