
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  margin: 40px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  width: 40%;
  height: 40%;
}

.login-box h1 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 50;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.body-text {
  font-weight: 50;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  line-height: 1.5; /* Spacing between lines of text */
}

/* Adjust the image */
.turnip {
    margin: 0;
    padding: 0;
    width: 35px; /* Adjust the size of the image */
    height: auto; /* Maintain aspect ratio */
}

.google-login-button, .google-logout-button {
  width: 50%;
  padding: 15px;
  margin-top: 25px;
  background-color: #c2a0dc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login-button:hover, .google-logout-button:hover {
  background-color: #4d286a98; /* Darker blue for hover effect */
}