.pageLayout {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    max-width: 100%;
}

.item1 {
    flex: 0 0 300px; 
    width: 500px;
    overflow: visible;
}

.item2 {
    flex: 1;
    min-width: 600px;
    max-width: 900px;
}

.google-logout-button {
    margin: auto;
    display: block;
}
